@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@200;300;400;500;600;700;800&family=Sen&display=swap');

.submenu {
    position: relative;
}

.header-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.dropdown-menu-custom {
    width: 277px;
    position: absolute;
    bottom: -160px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFFFFF;
    border-radius: 10px;
    display: none !important;
    flex-direction: column;
    align-items: flex-start !important;
}

.submenu:hover .dropdown-menu-custom {
    display: block !important;
    z-index: 9;
}

.dropdown-menu-custom li {
    width: 100%;
    /* padding: 15px 15px; */
}

.dropdown-menu-custom li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 15px;
    display: block;
    color: #222222;
}

.custom-nav-pooja {
    justify-content: center;
    border: 0;
    margin-bottom: 50px;
}

.custom-nav-pooja .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #3A3C41;
    border: 0;
    position: relative;
}

.custom-nav-pooja .nav-link:hover {
    border: 0;
}

.custom-nav-pooja .nav-link.active {
    color: #222222;

}

.custom-nav-pooja .nav-link.active span {
    position: relative;
    display: inline-block;
    font-weight: 500;
}

.custom-nav-pooja .nav-link:focus-visible {
    outline: none;
    box-shadow: none;
    border: 0;
}

.custom-nav-pooja .nav-link.active span::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background: #FA941C;
    display: block;
}

.pooja-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1138px;
    width: 100%;
    margin: 0 auto 65px;
}
.pooja-section:nth-child(even){
    flex-direction: row-reverse;
}

.pooja-section .left-section {
    max-width: 500px;
    width: 100%;
}

.pooja-section .left-section img {
    border-radius: 50px;
}

.pooja-section .right-section {
    max-width: 545px;
    width: 100%;
}

.pooja-section .right-section h5 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 39px;
    color: #222222;
    margin-bottom: 25px;
}

.read-more-link {
    color: #FA941C;
}

.read-more-link:hover {
    color: #FA941C;
}

.pooja-section .right-section p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #5E5F63;
    margin-bottom: 15px;
}

.specialPooja-form {
    max-width: 1138px;
    width: 100%;
    margin: 120px auto 0;
}

.specialPooja-form .form-group {
    margin-bottom: 30px;
}

.specialPooja-form .form-group label {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FA941C;
    display: block;
    margin-bottom: 10px;
}

.specialPooja-form .form-group .form-control {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    text-align: left;
    color: #656262;
    border-radius: 5px;
    height: 56px;
    line-height: 56px;
    border: 1px solid #979797;
    border-radius: 10px;
}

.specialPooja-form .form-group label span {
    color: #494F59;
}

.specialPooja-form .form-group textarea.form-control {
    height: 108px;
}

.specialPooja-form .form-group .form-control::placeholder {
    color: #656262;
}

.specialPooja-form .form-group .form-control:focus {
    outline: none;
    box-shadow: none;
}

.specialPooja-form .btn.btn-submit {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 48px;
    width: 193px;
    height: 54px;
    background: #FA941C;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

.specialPooja-form .btn.btn-submit:focus {
    outline: none;
    box-shadow: none;
}

.pooja-details-section {
    max-width: 1135px;
    margin: 120px auto 0;
    width: 100%;
}

.pooja-details-section h3 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 39px;
    color: #353535;
    margin-bottom: 65px;
}

.pooja-details-section .inner-pooja-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;
    flex-wrap: wrap;
}

.pooja-details-section .inner-pooja-details .item {
    width: 23%;
    margin-bottom: 60px;
}

.pooja-details-section .inner-pooja-details .item .img-section img {
    border-radius: 8px;
    transition: 0.5s ease-in;
}
.pooja-details-section .inner-pooja-details .item .img-section img:hover{
    transform: scale(0.912);
}

.pooja-details-section .inner-pooja-details .item h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #353535;
    margin: 15px 0 0;
}

.pooja-details-section .inner-pooja-details .item p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
}








.btn.btn-view-all {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 12px;
    max-width: 258px;
    width: 100%;
    height: 54px;
    background: #FA941C;
    border-radius: 10px;
}

.profile-name {
    display: flex;
    align-items: center;
}

.profile-name .img-section {
    width: 56px;
    height: 56px;
    border-radius: 100px;
}

.profile-name .img-section img {
    width: 56px;
    height: 56px;
    border-radius: 100px;
}

.profile-name .content {
    padding-left: 15px;
}

.profile-name .content .name-title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    color: #353535;
    margin: 0;
}

.profile-name .content .name-subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #3A3C41;
    margin: 0;
}

#testimonial .review p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3A3C41;
}

.about p {
    margin: 4% 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    color: #3a3c41;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3A3C41;
}

#testimonial .flickity-button {
    display: block;
    border: 1px solid #C4C4C4;
    width: 50px;
    height: 50px;
    border: 1px solid #C4C4C4;
}


#footer h2 {
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

#footer a {
    color: #d5d2d2d9;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    display: block;
    margin-bottom: 15px;
}

#footer .menu br,
#footer .service br {
    display: none;
}

.pandit-registration {
    background: #FA941C;
    padding: 27px 0;
    
}
.pandit-registration .inner-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pandit-registration h3 {
    font-weight: 500;
    font-size: 34px;
    line-height: 51px;
    color: #FFFFFF;
    margin: 0;
}

.pandit-registration button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: hsl(0, 0%, 13%);
    padding: 12px;
    width: 202px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
}


.pooja-description-section{
    margin-bottom: 120px;
}

.pooja-description-section .pooja-description{
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.pooja-description-section .pooja-description .left-section,
.pooja-description-section .pooja-description .right-section {
    width: 50%;
  
    /* padding: 15px 25px; */
}
.pooja-description-section .pooja-description .left-section .content{
    border: 1px solid #FA941C;
    border-top: 0;
}
.pooja-description-section .pooja-description .right-section .content{
    border: 1px solid #FA941C;
    border-top: 0;
    border-left: 0;
}
.pooja-description-section .pooja-description .left-section .content,
.pooja-description-section .pooja-description .right-section .content {
    padding: 15px 25px;
    height: 100%;
}

.pooja-description-section .pooja-description .left-section .header-title ,
.pooja-description-section .pooja-description .right-section .header-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
    text-align: center;
    padding: 15px 10px;
    border: 1px solid #FA941C;

}
.pooja-description-section .pooja-description .left-section .header-title {
    border-right: 0;
}
.pooja-description-section .pooja-description .left-section .content p ,
.pooja-description-section .pooja-description .right-section .content p{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
    margin-bottom: 25px; 

}
.pooja-description-section .pooja-description .left-section .content ul,
.pooja-description-section .pooja-description .right-section .content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.pooja-description-section .pooja-description .left-section .content ul li,
.pooja-description-section .pooja-description .right-section .content ul li{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 25px;
}
.pooja-description-section .pooja-description .left-section .content ul li:last-child,
.pooja-description-section .pooja-description .right-section .content ul li:last-child{
    margin-bottom: 0;
}
.changeNumber{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #109BAE;
    border: 1px solid #109BAE;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: 74px;
    height: 41px;
}
.customer-detail .show-heding h5
{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
    margin: 0;
}
#section1 .form .login{
    height: auto;
}
/* .login + div{
    width: 100%;
    display: flex;
    align-items: center;
} */
.login h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
    margin: 0;
}
#section1 .form .customer-detail .show-heding{
    padding: 15px 15px;
    margin: 0 0 15px;
}
#section1 .form .summary .summary-detail .detail h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #212121;
    margin-bottom: 35px;
}
.summary-detail .img{
    max-width: 105px;
    width: 100%;
    height: 122px;
    overflow: hidden;
    border: 0.184872px solid #0D7B4D;

}
.inner-summary-detail{
    width: 100%;
    display: flex;
    padding: 15px;
}
.inner-summary-detail .img-section{
    max-width: 105px;
    width: 100%;
    height: 122px;
    margin-right: 20px;
    overflow: hidden;
}
.inner-summary-detail .img-section img{
    max-width: 100%;
}
.inner-summary-detail .content-section h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #212121;
    margin-bottom: 20px;
}
.inner-summary-detail .content-section p{
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #212121;
    margin-bottom: 15px;
    position: relative;
}
.inner-summary-detail .content-section{
    width: 100%;
}
.inner-summary-detail .content-section p span{
    color: #5E5F63;
}
.inner-summary-detail .content-section p:last-child{
    margin-bottom: 0;
}
.inner-summary-detail .content-section p strong{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #212121;
    position: absolute;
    top: 0;
    right: 0;

}

#section1 .main .form {
    max-width: 768px;
    padding: 0;
    width: 100%;
    margin-right: 30px;
}
#section1 .main .price-detail{
    max-width: 361px;
    width: 100%;
}
#section1 .main .price-detail .detail{
    max-width: 361px;
    height: auto;
    width: 100%;
    padding: 24px 16px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}
.placeBtn{
    max-width: 361px;
    /* width: 100%; */
}
#section1 .main .price-detail .detail .total h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: #000000;
}
.price-item{
    margin-bottom: 15px;
}
.price-item h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 0;
}
.price-item input{
    margin-right: 8px;
}
.pr-dt{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* Secondary Black */

color: #5E5F63;
}
.pay-b{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding: 0 0 15px;
    color: #656262;
    text-align: center;
    display: block;
}
#section1 .main .price-detail .detail .total{
    padding: 15px 0 0;
}
.total h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 0;   
}
#section1 .form .customer-detail .detail-form input {
    padding: 1% 2%;
    color: #6B6D71;
    width: 48%;
    margin: 1% 0;
    height: 50px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}
#section1 .form .customer-detail .detail-form input:focus,
#section1 .form .customer-detail .detail-form textarea:focus{
    outline: none;
}
#section1 .form .customer-detail .detail-form label {
    font-size: 18px;
    margin: 3% 0;
    font-weight: 600;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
}
#section1 .form .customer-detail .detail-form textarea{
    color: #6B6D71;
    margin: 1% 0;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}
.form-menu{
    display: flex;
    justify-content: space-between;
}
.form-menu input{
    width: 48%;
}
.form-menu .input.width-100{
    width: 100%;
}




#section1 .form .summary,
#section1 .form .customer-detail{
    height: 75px;
}


#section1 .form .customer-detail{
    padding: 0;
}

#loginNumber {
    position: absolute;
    left: 10%;
    bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}
#section1 .form .customer-detail .show-heding{
    margin-bottom: 0;
    align-items: center;
    height: 75px;
}
#section1 .form .customer-detail .detail-form{
    padding: 15px;
}
.custom-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 0;
  }
  
  /* Hide the browser's default radio button */
  .custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .custom-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #939393;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .custom-radio:hover input ~ .checkmark {
    background-color: transparent;
  }
  
  /* When the radio button is checked, add a blue background */
  .custom-radio input:checked ~ .checkmark {
    background-color: transparent;
    border-color: #FA941C;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
 .custom-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .custom-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .custom-radio .checkmark:after {
    top: 3px;
    left: 3.1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FA941C;
}