@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@200;300;400;500;600;700;800&family=Sen&display=swap');

.submenu {
    position: relative;
}

.header-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.dropdown-menu-custom {
    width: 277px;
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFFFFF;
    border-radius: 10px;
    display: none !important;
    flex-direction: column;
    align-items: flex-start !important;
}

.submenu:hover .dropdown-menu-custom {
    display: block !important;
    z-index: 9;
}

.dropdown-menu-custom li {
    width: 100%;
    /* padding: 15px 15px; */
}

.dropdown-menu-custom li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 15px;
    display: block;
    color: #222222;
}

.custom-nav-pooja {
    justify-content: center;
    border: 0;
    margin-bottom: 50px;
}

.custom-nav-pooja .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #3A3C41;
    border: 0;
    position: relative;
}

.custom-nav-pooja .nav-link:hover {
    border: 0;
}

.custom-nav-pooja .nav-link.active {
    color: #222222;

}

.custom-nav-pooja .nav-link.active span {
    position: relative;
    display: inline-block;
    font-weight: 500;
}

.custom-nav-pooja .nav-link:focus-visible {
    outline: none;
    box-shadow: none;
    border: 0;
}

.custom-nav-pooja .nav-link.active span::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background: #FA941C;
    display: block;
}

.pooja-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1138px;
    width: 100%;
    margin: 0 auto 65px;
}

.pooja-section:nth-child(even) {
    flex-direction: row-reverse;
}

.pooja-section .left-section {
    max-width: 500px;
    width: 100%;
}

.pooja-section .left-section img {
    border-radius: 50px;
}

.pooja-section .right-section {
    max-width: 545px;
    width: 100%;
}

.pooja-section .right-section h5 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 39px;
    color: #222222;
    margin-bottom: 25px;
}

.read-more-link {
    color: #FA941C;
}

.read-more-link:hover {
    color: #FA941C;
}

.pooja-section .right-section p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #5E5F63;
    margin-bottom: 15px;
}

.specialPooja-form {
    max-width: 1138px;
    width: 100%;
    margin: 120px auto 0;
}

.specialPooja-form .form-group {
    margin-bottom: 30px;
}

.specialPooja-form .form-group label {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FA941C;
    display: block;
    margin-bottom: 10px;
}

.specialPooja-form .form-group .form-control {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    text-align: left;
    color: #656262;
    border-radius: 5px;
    height: 56px;
    line-height: 56px;
    border: 1px solid #979797;
    border-radius: 10px;
}

.specialPooja-form .form-group label span {
    color: #494F59;
}

.specialPooja-form .form-group textarea.form-control {
    height: 108px;
}

.specialPooja-form .form-group .form-control::placeholder {
    color: #656262;
}

.specialPooja-form .form-group .form-control:focus {
    outline: none;
    box-shadow: none;
}

.specialPooja-form .btn.btn-submit {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 48px;
    width: 193px;
    height: 54px;
    background: #FA941C;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

.specialPooja-form .btn.btn-submit:focus {
    outline: none;
    box-shadow: none;
}

.pooja-details-section {
    max-width: 1135px;
    margin: 120px auto 0;
    width: 100%;
}

.pooja-details-section h3 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 39px;
    color: #353535;
    margin-bottom: 65px;
}

.pooja-details-section .inner-pooja-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;
    flex-wrap: wrap;
}

.pooja-details-section .inner-pooja-details .item {
    width: 23%;
    margin-bottom: 60px;
}

.pooja-details-section .inner-pooja-details .item .img-section {
    height: 277px;
    overflow: hidden;
}

.pooja-details-section .inner-pooja-details .item .img-section img {
    border-radius: 8px;
    transition: 0.5s ease-in;
    max-width: 100%;
}

.pooja-details-section .inner-pooja-details .item .img-section img:hover {
    transform: scale(0.912);
}

.pooja-details-section .inner-pooja-details .item h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #353535;
    margin: 15px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pooja-details-section .inner-pooja-details .item p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
}








.btn.btn-view-all {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 12px;
    max-width: 258px;
    width: 100%;
    height: 54px;
    background: #FA941C;
    border-radius: 10px;
}

.profile-name {
    display: flex;
    align-items: center;
}

.profile-name .img-section {
    width: 56px;
    height: 56px;
    border-radius: 100px;
}

.profile-name .img-section img {
    width: 56px;
    height: 56px;
    border-radius: 100px;
}

.profile-name .content {
    padding-left: 15px;
}

.profile-name .content .name-title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    color: #353535;
    margin: 0;
}

.profile-name .content .name-subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #3A3C41;
    margin: 0;
}

#testimonial .review p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3A3C41;
}

.about p {
    margin: 4% 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    color: #3a3c41;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3A3C41;
}

#testimonial .flickity-button {
    display: block;
    border: 1px solid #C4C4C4;
    width: 50px;
    height: 50px;
    border: 1px solid #C4C4C4;
}


#footer h2 {
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

#footer a {
    color: #d5d2d2d9;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    display: block;
    margin-bottom: 15px;
}

#footer .menu br,
#footer .service br {
    display: none;
}

.pandit-registration {
    background: #FA941C;
    padding: 27px 0;

}

.pandit-registration .inner-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pandit-registration h3 {
    font-weight: 500;
    font-size: 34px;
    line-height: 51px;
    color: #FFFFFF;
    margin: 0;
}

.pandit-registration button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: hsl(0, 0%, 13%);
    padding: 12px;
    width: 202px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
}


.pooja-description-section {
    margin-bottom: 120px;
}

.pooja-description-section .pooja-description {
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.pooja-description-section .pooja-description .left-section,
.pooja-description-section .pooja-description .right-section {
    width: 50%;

    /* padding: 15px 25px; */
}

.pooja-description-section .pooja-description .left-section .content {
    border: 1px solid #FA941C;
    border-top: 0;
}

.pooja-description-section .pooja-description .right-section .content {
    border: 1px solid #FA941C;
    border-top: 0;
    border-left: 0;
}

.pooja-description-section .pooja-description .left-section .content,
.pooja-description-section .pooja-description .right-section .content {
    padding: 15px 25px;
    height: 100%;
}

.pooja-description-section .pooja-description .left-section .header-title,
.pooja-description-section .pooja-description .right-section .header-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
    text-align: center;
    padding: 15px 10px;
    border: 1px solid #FA941C;

}

.pooja-description-section .pooja-description .left-section .header-title {
    border-right: 0;
}

.pooja-description-section .pooja-description .left-section .content p,
.pooja-description-section .pooja-description .right-section .content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
    margin-bottom: 25px;

}

.pooja-description-section .pooja-description .left-section .content ul,
.pooja-description-section .pooja-description .right-section .content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pooja-description-section .pooja-description .left-section .content ul li,
.pooja-description-section .pooja-description .right-section .content ul li {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 25px;
}

.pooja-description-section .pooja-description .left-section .content ul li:last-child,
.pooja-description-section .pooja-description .right-section .content ul li:last-child {
    margin-bottom: 0;
}

.changeNumber {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #109BAE;
    border: 1px solid #109BAE;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: 74px;
    height: 41px;
}

.customer-detail .show-heding h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
    margin: 0;
}

#section1 .form .login {
    height: auto;
}

/* .login + div{
    width: 100%;
    display: flex;
    align-items: center;
} */
.login h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
    margin: 0;
}

#section1 .form .customer-detail .show-heding {
    padding: 15px 15px;
    margin: 0 0 15px;
}

#section1 .form .summary .summary-detail .detail h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #212121;
    margin-bottom: 35px;
}

.summary-detail .img {
    max-width: 105px;
    width: 100%;
    height: 122px;
    overflow: hidden;
    border: 0.184872px solid #0D7B4D;

}

.inner-summary-detail {
    width: 100%;
    display: flex;
    padding: 15px;
}

.inner-summary-detail .img-section {
    max-width: 105px;
    width: 100%;
    height: 122px;
    margin-right: 20px;
    overflow: hidden;
}

.inner-summary-detail .img-section img {
    max-width: 100%;
}

.inner-summary-detail .content-section h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #212121;
    margin-bottom: 20px;
}

.inner-summary-detail .content-section p {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #212121;
    margin-bottom: 15px;
    position: relative;
}

.inner-summary-detail .content-section {
    width: 100%;
}

.inner-summary-detail .content-section p span {
    color: #5E5F63;
}

.inner-summary-detail .content-section p:last-child {
    margin-bottom: 0;
}

.inner-summary-detail .content-section p strong {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #212121;
    position: absolute;
    top: 0;
    right: 0;

}

#section1 .main .form {
    max-width: 768px;
    padding: 0;
    width: 100%;
    margin-right: 30px;
}

#section1 .main .price-detail {
    max-width: 361px;
    width: 100%;
}

#section1 .main .price-detail .detail {
    max-width: 361px;
    height: auto;
    width: 100%;
    padding: 24px 16px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.placeBtn {
    max-width: 361px;
    /* width: 100%; */
}

#section1 .main .price-detail .detail .total h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #000000;
}

.price-item {
    margin-bottom: 15px;
}

.price-item h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 0;
}

.price-item input {
    margin-right: 8px;
}

.pr-dt {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    /* Secondary Black */

    color: #5E5F63;
}

.pay-b {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding: 0 0 15px;
    color: #656262;
    text-align: center;
    display: block;
}

#section1 .main .price-detail .detail .total {
    padding: 15px 0 0;
}

.total h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 0;
}

#section1 .form .customer-detail .detail-form input {
    padding: 1% 2%;
    color: #6B6D71;
    width: 48%;
    margin: 1% 0;
    height: 50px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

#section1 .form .customer-detail .detail-form input:focus,
#section1 .form .customer-detail .detail-form textarea:focus {
    outline: none;
}

#section1 .form .customer-detail .detail-form label {
    font-size: 18px;
    margin: 3% 0;
    font-weight: 600;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
}

#section1 .form .customer-detail .detail-form textarea {
    color: #6B6D71;
    margin: 1% 0;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.form-menu {
    display: flex;
    justify-content: space-between;
}

.form-menu input {
    width: 48%;
}

.form-menu .input.width-100 {
    width: 100%;
}




#section1 .form .summary,
#section1 .form .customer-detail {
    height: 75px;
}


#section1 .form .customer-detail {
    padding: 0;
}

#loginNumber {
    position: absolute;
    left: 10%;
    bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}

#section1 .form .customer-detail .show-heding {
    margin-bottom: 0;
    align-items: center;
    height: 75px;
}

#section1 .form .customer-detail .detail-form {
    padding: 15px;
}

.custom-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 0;
}

/* Hide the browser's default radio button */
.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.custom-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #939393;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom-radio:hover input~.checkmark {
    background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.custom-radio input:checked~.checkmark {
    background-color: transparent;
    border-color: #FA941C;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio .checkmark:after {
    top: 3px;
    left: 3.1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FA941C;
}



.inner-social {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.inner-social a {
    margin: 0 !important;
}

.fd-txt {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.8);
    margin: 35px 0 5px;
}

#last-btn {
    width: 100%;
    margin-bottom: 35px;
    border: 1px solid #979797;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    padding: 13px 15px;
}

.social-link {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link li a {
    width: 33.06px;
    height: 33.06px;
    display: block;
    margin: 0 !important;
}

.social-link li a img {
    width: 33.06px;
    height: 33.06px;
}

.terms p {
    margin: 0;
    font-weight: 400;
    font-size: 12.2713px;
    line-height: 21px;

    color: #D9DBE1;
}

#bottom .rights {
    font-weight: 400;
    font-size: 12.2713px;
    line-height: 21px;
    color: #D9DBE1;
    margin: 0;
}

#bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f3f9ff;
    padding: 21px 0;
}

.detail-box.detail-box2 {
    max-width: 441px;
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 15px;
}

.top2 .detail-box {
    margin: 0;
    margin-top: 40px;
}

.detail-box.detail-box2.detail-box3 {
    max-width: 642px;
    width: 100%;
}

.detail-box .text-heading2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 137.9%;
    color: #353535;
    margin-bottom: 25px;
}

.cate-item {
    padding: 25px 0 !important;
    /* margin-bottom: 20px; */
}

#placeBtn {
    width: 361px;
}

.main-pooja .top-row {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.main-pooja .top-row .top2 {
    width: 100%;
    padding: 0;
}

.item-4 summary {
    position: relative;
    display: flex;
}

.item-4 {
    border-bottom: 1px solid rgba(191, 191, 191, 0.366);
    padding: 25px 0 !important;
}

.item-4 details {
    margin: 0 !important;
}

.item-4 summary::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    /* background: red; */
    /* background: url(images/arrow-right.svg); */
    border: solid #666666;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.item-4 summary::marker {}

.content-2 .title3 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    /* identical to box height */


    /* black color main */

    color: #353535;
    margin-bottom: 15px;
}

.content-2 .subtitle3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height, or 121% */

    margin-bottom: 15px;
    color: #353535;
}

.content-2 .cat-puja {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    /* identical to box height, or 181% */


    color: #B66200 !important;
    margin-bottom: 35px;
}

.content-2 .cat-puja span {
    color: #353535;
    display: inline-block;
    width: 120px;
}

.content-2 .why-txt {
    color: #26292F;
    font-weight: 600;
}

.text-all {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    /* or 181% */


    color: #26292F;

}

.data-select input {
    padding: 1% 2%;
    color: #6B6D71;
    width: 48%;
    margin: 1% 0;
    height: 50px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

#section1 .form .pay-option.active {
    height: auto;
}







/*-----------------------------------------------------------------pandit registration-----------------------------------------------------------------*/




/* ---main-container--- */
#pandit-regi-container {
    /* text-align: center; */
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin: 50px auto;
}

#pandit-regi-container .main-heading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 36px;
    margin: 30px 0;
}

#pandit-regi-container .detail-heading {
    font-size: 1em;
    font-weight: 500;
    line-height: 36px;
}

#pandit-regi-container .logo-box {
    text-align: center;
}

#pandit-regi-container .logo-box .logo {
    height: 5em;
    width: 5em;
    overflow: hidden;
    margin: auto;
    position: relative;
    /* border: 1px solid black; */

}


#pandit-regi-container .logo-box .logo img {
    height: 100%;
    width: 100%;

}


#pandit-regi-container .logo-box p {
    font-size: .9em;
    margin: 10px 0;


}

#pandit-regi-container .logo-box p span {
    color: gray;


}

/* --form-- */
#pandit-regi-container .form-container .form {
    width: 100%;
    /* background-color: #ccc; */
}

#pandit-regi-container .form-container .form h6 {
    margin-top: 5%;
}


#pandit-regi-container .form-container .form label {
    color: #FA941C;
    margin: 10px 0;
    font-weight: 500;
}

#pandit-regi-container .form-container .form label.error {
    color: red;
}

#pandit-regi-container .form-container .form .row {
    width: 100%;
    margin-top: 40px;
    display: flex;
    /* align-items: flex-end; */
    align-items: center;
}

#pandit-regi-container .form-container .form .row .col.has-error input,
#pandit-regi-container .form-container .form .row .col.has-error select {
    border-color: red !important;
}

#pandit-regi-container .form-container .form .row .col {
    width: 50%;
}


#pandit-regi-container .form-container .form .row .col .text,
select {
    width: 100%;
    height: 3em;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

#pandit-regi-container .form-container .form .row .col .dropdown-check-list,
.anchor,
.anchor2 {
    width: 100%;
    background-color: white;
    height: 3em;
    border-radius: 10px;

}

.anchor,
.anchor2 {
    display: flex;
    align-items: center;

}

#pandit-regi-container .form-container .form .row .col .dropdown-check-list .items li input {
    margin-right: 10px;
}



#pandit-regi-container .form-container .form .row .col textarea {
    width: 49%;
    border-radius: 10px;
    resize: none;
}


#pandit-regi-container .form-container .form .submit-div {
    width: 100%;
    margin: 40px 0;
}

#pandit-regi-container .form-container .form .submit-div .submit {
    padding: .4em 2.5em;
    border-radius: 10px;
    border: none;
    background-color: #FA941C;
    color: white;
}


.hindDesclink,
.englishDesc {
    color: #151C2C;
    font-weight: 500px;
    font-size: 18px;
}

.reg-form-section .form-group label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FA941C;
    margin-bottom: 12px;
}

.reg-form-section .form-group label span {
    color: #494F59;
}

.reg-form-section .form-group {
    margin-bottom: 35px;
}

.reg-form-section .form-group .form-control {
    width: 100%;
    padding: 16px;
    height: 56px;
    border: 1px solid #979797;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;

}

.reg-form-section .form-group textarea.form-control {
    height: 108px;
}

.reg-form-section .form-group br {
    display: none;
}

.cstm {
    width: 145px;
    justify-content: space-between;
}

.cstm label {
    color: #111112;
}

.cs-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    font-weight: 400 !important;
    font-size: 14px;
    line-height: 21px;

    color: #222222 !important;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cs-checkbox label {
    color: #222222;

}

/* Hide the browser's default checkbox */
.cs-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.cs-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    border: 1px solid #FA941C;
    border-radius: 5px;
    background-color: #FFFFFF;
}

/* On mouse-over, add a grey background color */
.cs-checkbox:hover input~.checkmark {
    background-color: #FFFFFF;
}

/* When the checkbox is checked, add a blue background */
.cs-checkbox input:checked~.checkmark {
    background-color: #FA941C;
}

/* Create the checkmark/indicator (hidden when not checked) */
.cs-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cs-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cs-checkbox .checkmark:after {
    left: 9px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}






/********************Multiple Select Css***********************/

ul.multiselect-container.dropdown-menu.active {
    width: 100%;
    display: block;
    top: 100%;
}

.multiple-select1 .btn-group {
    width: 100%;
    display: block;
}

.multiselect.dropdown-toggle {
    width: 100%;
    padding: 16px;
    height: 56px;
    border: 1px solid #979797;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    text-align: left;
    background: transparent;
}

.multiselect.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    right: 15px;
    position: absolute;
    top: 50%;
}

.multiselect-container li .checkbox {
    padding: 0 10px;
    color: #222222 !important;
}

.multiselect-selected-text {
    color: #222222;
}

.title-reg {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
    margin: 50px 0 35px;
}

.uploadAdhar {
    width: 100%;
    height: 56px;
    background: #FFF4E8;
    border-radius: 10px;
    display: block;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.regPandit-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    margin-top: 45px;
    color: #000000;
    margin-bottom: 75px;

}

.reg-pr-dt {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 35px;
}

.reg-form-section .submit-div {
    text-align: center;
}

.success-message .modal-dialog {
    max-width: 506px;
    width: 100%;
    margin: 0 auto;
    border: 0;
}

.pooj-tite-5{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #353535;
    margin: 15px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pooja-price5{
    font-family: 'Poppins', sans-serif;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 30px !important;
    color: #222222;
}
.success-message .modal-dialog .modal-content{
    border-radius: 10px;
}
.modal-content{
    border-radius: 10px;
}
.success-message .modal-dialog .modal-body {
    padding: 35px 65px;
}

.success-message h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 43px;
    text-align: center;
    margin-bottom: 15px;
    color: #000000;
}

.success-message p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #5E5F63;
    margin-bottom: 35px;
}

.success-message .success-img {
    display: block;
    margin: 0 auto 24px;
}

.success-message button {
    width: 100%;
    padding: 10px 20px;
    height: 54px;
    background: #FA941C;
    border-color: #FA941C;
    border: 0;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.success-message button:focus {
    outline: none;
    box-shadow: none;
}

.address-form .ad-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
    margin: 10px 0 25px;
}

.address-form .form-control {
    padding: 16px;
    height: 56px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6B6D71;
}

.address-form textarea.form-control {
    height: 110px;
}

.address-form .form-group {
    margin-bottom: 25px;
}

.add-section {
    display: flex;
    align-items: center;
    min-height: 55px;
    line-height: 55px;
    margin-bottom: 15px;
}

.address-form {
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 15px;
}

.add-section a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    text-decoration: none;
    display: flex;

}

.add-section a img {
    padding-right: 15px;
}

.add-section a:hover {
    color: #222222;
}

.add-save-btn {
    width: 136px;
    height: 54px;
    background: #FA941C;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.add-section p {
    width: 100%;
    font-family: 'Times New Roman';
    margin-bottom: 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 39px;
    color: #222222;
    text-align: center;
}

.save-address {
    border-top: 1px solid #E0E0E0;
}

.save-address h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin: 15px 0;
    color: #222222;

}

.save-address {
    border-top: 1px solid #E0E0E0;
    margin-top: 10px;
}

.save-address .inner-header-address {
    display: flex;

    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #E0E0E0;
    border-radius: 10px;
}

.save-address .inner-header-address .left h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #222222;
    margin-bottom: 15px;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;

    margin: 0;
    color: #222222;
}

.ratingModal .modal-dialog {
    max-width: 750px;
    width: 100%;
}

.ratingModal .modal-dialog .modal-body {
    padding: 50px 60px;
}

.rating-modal-section h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #222222;
    margin-bottom: 25px;
}

.rating-modal-section p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #5E5F63;
    margin-bottom: 45px;
}
.close-modal{
    position: absolute;
    right: 60px;
    background: transparent;
    border: 0;
}
.rating-modal-section ul {
    list-style: none;
    padding: 0;
    margin: 0 auto 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
    width: 100%;

}

.rating-modal-section .rating-label {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #212121;
    margin-bottom: 15px;
}

.rating-modal-section textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;

}

.rating-modal-section .rating-btn {
    padding: 10px 20px;
    width: 258px;
    height: 54px;
    background: #FA941C;
    border: 0;
    border-radius: 10px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}









.hm-menu{
    display: none;
}
.hm-menu span{
    width: 34px;
    height: 3px;
    background-color: #fb941d;
    border-radius: 2px;
    margin: 0 0 7px;
    display: block;
}
.desktop-menu{
    display: block;
}
.mobile-menu{
    display: none;
    border-top: 1px solid #000000;
}
.mobile-menu ul{
    display: block;
}
.mobile-menu ul li{
    display: block;
    padding: 5px 0;
}
.top-header .item1 p{
    display: flex;
    align-items: center;
}
.top-header .item1 p img{
    margin: 0;
    padding-right: 10px;
}
/* Responsive Css *******************/

@media (max-width: 1024px){
    .pooja-details-section .inner-pooja-details .item{
        width: 47%;
        margin-bottom: 30px;
    }
    .pooja-section{
        flex-direction: column;
    }
    .pooja-section{
        margin-bottom: 40px;
    }
}
@media (max-width: 991px){
    .b-navbar .img-div{
        width: 100%;
    }
    .menu-row{
        padding: 10px 0;
    }
    .top-header{
        display: block !important;
    }
    .top-header .item1{
        display: block;
        width: 100%;
    }
    .top-header .item1 p{
        margin-bottom: 10px;
    }
    .top-header .item2{
        display: block;
        margin-bottom: 10px;
    }
    .top-header .item2 img{
        margin: 0;
    }
    .top-header .item2 div{
        display: flex;
        align-items: center;
    }
    .desktop-menu{
        display: none;
    }
    .b-navbar{
        display: block !important;
    }
    .b-navbar .menu-div{
        width: 100%;
    }
    .hm-menu{
        display: block;
    }
    .mobile-menu.active{
        display: block;
    }
    .b-navbar .menu-div .contact-div{
        margin-top: 20px;
    }
    .tab-content>.tab-pane{
        padding: 0 15px;
    }
    .pooja-details-section{
        margin-top: 40px;
    }
    .pooja-description-section .pooja-description{
        flex-direction: column;
    }
    .pooja-description-section .pooja-description .left-section, .pooja-description-section .pooja-description .right-section{
        width: 100%;
    }
    .pooja-description-section .pooja-description .left-section .header-title{
        border-right: 1px solid #FA941C;
    }
    .pooja-description-section .pooja-description .left-section .content{
        border-top: 1px solid #FA941C;
    }
    .main-pooja .top{
        display: block;
    }
    .main-pooja .top1{
        display: block;
        width: 100%;
    }
    #section1 .main .price-detail,
    #section1 .main .price-detail .detail{
        max-width: 100%;
    }
    .custom-radio{
        padding-left: 30px;
    }
    .detail-form .form-menu{
        flex-direction: column;
    }
    #last-btn{
        width: auto;
        margin: 0;
    }
    .social-link{
        justify-content: flex-start;
    }
    #footer h2{
        margin: 10px 0;
        font-size: 22px;
    }
    #footer{
        padding: 30px 0;
    }
    .terms p{
        text-align: center;
    }
    #bottom .container{
        flex-direction: column;
    }
    .social img{
        margin-left: 0;
    }
    .data-select input{
        width: 100%;
    }
    .form-menu{
        flex-direction: column;
    }
    #section1 .form .customer-detail .detail-form input{
        width: 100%;
    }
    .inner-summary-detail .content-section p strong{
        position: static;
    }
    #section1 .main{
        display: block;
        margin: 0 auto;
    }
    #section1 form{
        width: 100%;
    }
    .main-pooja .top-row{
        flex-direction: column;
    }
    #section1 .show-heding div:nth-child(2){
        width: 100%;
    }
    .main-pooja .top-row .top2,
    .detail-box.detail-box2.detail-box3{
        margin-top: 20px;
    }
}

@media (max-width: 767px){
    .pooja-details-section .inner-pooja-details .item{
        width: 100%;
    }
    .pooja-details-section .inner-pooja-details{
        gap: 0;
    }
    #Book-Pooja .column{
        width: 100%;
    }
    #Book-Pooja .content{
        margin: 0;
    }
}