
  
    /* ------------------popup -------------------- */
    .popup-1{
      height: 100vh;
      width: 100vw;
      background-color: #53545946;
      backdrop-filter: blur(1px);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      display:none;
      justify-content: center;
      align-items: center;
    }
  
    .popup2{
      display: flex;
      position: fixed !important;
      top: 0;
    }
    .popup-1 .main-div {
      background-color: #ffffff;
      border: 1px solid ffffff;
  position: relative;
     
      border-radius: 10px;
      width: 600px;
      height: 300px;
      margin-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
  
  
  }
  
  .popup-1 .close {
      /* font-size: 20px; */
      color: #797171;
      border-radius: 50%;
      border: 2px solid #797171;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 5%;
      top: 5%;
      height: 30px;
      width: 30px;
      background-color: #35353500;
  
  }
  
  .popup-1 .close:hover {
      background-color: #fa941c;
      border: #fa941c;
      cursor: pointer;
      color: white;
      height: 30px;
      width: 30px;
  
  }
  
  .popup-1 .login {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      text-align: center;
      font-size: 20px;
      line-height: 24px;
  padding: 2%;
  
  
  }
  
  .popup-1 .heading {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      text-align: center;
      color: #5E5F63;
      font-size: 16px;
      font-weight: 400;
      align-items: center;
      margin: 20px 0;
  
  }
  
  .popup-1 .second-div {
      cursor: pointer;
  
      border: 1px solid black;
      border-radius: 5px;
      height: 45px;
      width: 500px;
      margin-left: 50px;
  }
  
  .popup-1 .second-div select{
    height: 43px;
    width: 15%;
    border: none;
    /* display: flex; */
    /* align-items: ; */
    background-color: transparent;
    cursor: pointer;
    /* border-right: 1px solid black; */
    padding: 0 10px;
  }
  
  .popup-1 .second-div select:focus{
   outline: none;
  }
  
  
  .popup-1 .second-div input{
    height: 43px;
    width: 79%;
    border: none;
    padding: 0 10px;
    background: transparent;
  }
  
  .popup-1 .second-div input:focus{
    outline: none;
  }
  
  .popup-1 .heading2 {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      margin-left: 50px;
      color: #353535;
      font-size: 14px;
      font-weight: 500
  }
  .popup-1 
  .popup-1 .optiondiv {
      border: 0PX;
      cursor: pointer;
     
  
  }
  
  .popup-1 .icon {
      width: 10px;
  
  }
  
  .popup-1 .main-button {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      cursor: pointer;
      color: white;
      font-size: 15px;
      height: 45px;
      width: 500px;
      margin-top: 10px;
      margin-left: 50px;
      border: 1px solid #fa941c;
      border-radius: 10px;
      background-color: #fa941c;
  
  }
  
  
  @media (max-width:700px) {
    .popup-1 .main-div {
     
      width: 460px;
      height: 300px;
    
  }
  
  .popup-1 .second-div {
    
    width: 80%;
    margin: auto;
    
  }
  
  .popup-1 .second-div select {
  
    width: 25%;
    
  }
  
  .popup-1 .second-div input {
    
    width: 70%;
   
  }
  
  .popup-1 .main-button {
   
    width: 80%;
   
  }
  }
  
  
  @media (max-width:500px) {
  
    .popup-1 .main-div {
     
      margin-left: 0px;
      
      text-align: center;
  }
  
  
    .popup-1 .main-div {
     
      width: 350px;
      height: 300px;
    
  }
  
  .popup-1 .heading {
    
    width: 80%;
    margin: 20px auto;
  }
  
  .popup-1 .second-div {
    
    width: 80%;
    margin: auto;
    
  }
  
  .popup-1 .second-div select {
  
    width: 25%;
    
  }
  
  .popup-1 .second-div input {
    
    width: 70%;
   
  }
  
  .popup-1 .main-button {
   
    width: 80%;
    margin:10px  auto;
   
  }
  }
  
  
  /* -----otp popup------ */
  #otp-popup{
    height: 100vh;
    width: 100vw;
    display: flex;
    /* place-content: center; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #53545946;
    backdrop-filter: blur(1px);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;z-index: 999;
    display: none;
  position: fixed !important;
  top:0;
  }
  
  .otp-popup2{
    display: flex !important;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
  }
  #otp-popup .main-div {
  background-color: #ffffff;
  border: 1px solid #9f9f9f;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  width: 600px;
  height: 450px;
  padding: 20px ;
  border: 1px solid black;
  text-align: center;
  }
  
  #otp-popup .close {
  /* font-size: 22px; */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #797171;
  /* margin-top: -20px; */
  
  position: absolute;
  right: 5%;
  top: 3%;
  color: #797171;
  background-color: rgba(255, 255, 0, 0);
  }
  #otp-popup .close:hover {
  cursor: pointer;
  background-color: #fa941c;
  border: 2px solid #fa941c;
  color: white;
  }
  #otp-popup .otpheading {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  /* margin-left: 50px; */
  color: #5e5f63;
  font-size: 18px;
  width: 70%;
  margin:20px auto;
  text-align: left;
  }
  #otp-popup .otpheading1 {
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  /* margin-left: 50px; */
  color: #5e5f63;
  font-size: 16px;
  width: 70%;
  margin:20px auto;
  text-align: left;
  }
  
  #otp-popup .login {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  }
  form {
  /* margin: a; */
  }
  
  #otp-popup  form input {
  margin-left: 50;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #fa941c;
  border-radius: 5px;
  margin-left: 15px;
  }
  #otp-popup .main-button-index {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  cursor: pointer;
  color: white;
  font-size: 15px;
  height: 45px;
  width: 90%;
  margin-top: 30px;
  
  border: 1px solid #fa941c;
  border-radius: 10px;
  background-color: #fa941c;
  }
  #otp-popup  .resendbutton {
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  text-align: center;
  color: #4285f4;
  font-size: 14px;
  }
  #otp-popup  .resendbutton a {
  text-decoration: none;
  }
  #otp-popup .resendotp {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  cursor: pointer;
  color: #fa941c;
  
  /* margin-left: 30px; */
  margin: 10px;
  width: 120px;
  height: 50px;
  background-color: #fff3e5;
  border:1px solid #e5a863 ;
  border-radius: 10px;
  font-size: 12px;
  }
  #otp-popup .button-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  
  /* margin-left: 140px; */
  }
  #otp-popup .second {
  color: red;
  }
  #otp-popup .resendotp:hover {
  color: white;
  background-color: #fa941c;
  }
  
  
  @media (max-width:800px){
    
  #otp-popup .main-div {
    
    width: 500px;
    /* height: auto; */
    padding: 10px ;
   
    }
  }
  
  @media (max-width:600px){
    
    #otp-popup .main-div {
      
      width: 95%;
      height: auto;
      padding: 10px ;
     
      }
  
  
      #otp-popup .otpheading {
       
        color: #5e5f63;
        font-size: 16px;
        width: 100%;
       
        text-align: center;
    }
      #otp-popup .main-button {
       
        width: 80%;
       
    }
  
  
    #otp-popup .resendotp {
   
      margin: 10px;
      width: 120px;
      height: 50px;
     
  }
  
    }
  
    @media (max-width:450px) {
      #otp-popup .resendotp {
   
        margin: 10px;
        width: 100px;
        height: 40px;
       font-size: 11px;
    }
    }
  
  
  